
:root {
  --primary-color: #9A86A4;
  --secondary-color: #B1BCE6;
  --tertiary-color: #B7E5DD;
  --quaternary-color: #F1F0C0;
  --backup-color: #c6b4970a;
  --primary-rgb: rgb(154, 134, 164);
  --secondary-rgb: rgb(177, 188, 230);
  --tertiary-rgb: rgb(183, 229, 221);
  --quaternary-rgb: rgb(241, 240, 192);
}


body {
  background-color: var(--backup-color);
  color: var(--quaternary-color);
}

h1 {
  color: var(--secondary-color);
}

h2 {
  color: #9A86A4;
}

li {
  color: #282c34;
}

.button {
  background-color: var(--tertiary-color);
  color: var(--primary-rgb);
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Basic navigation styling */
nav {
  color: var(--primary-color);
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:xx-large;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 5px;
}

/* Hover effect */
nav a:hover {
  background-color: #B7E5DD;
}

p {
  color: #282c34;
}